/* This style script is used for making sure
some 3rd-party scripts work with this script
correctly.

If you have any plugins/scripts you'd like to
be fixed for this script, please send a issue
on the GitHUb repo! Much thanks! */

/* Annotations Restored */
#previewbar {
    top: 0px;
}

/* Need to find a way to get this to change but there's a line break after "Click" */
.ytp-button.ytp-settings-button svg[fill="white"] {
    background: #1b1b1b !important;
    display: block !important;
    height: 30px;
    fill: gray;
}