/* PROGRESS BAR */

.ytp-gradient-bottom {
	background: none !important;
}

.ytp-chapter-hover-container {
	width: 100% !important;
	bottom: 0px;
	top: 7.5px;
}

.ytp-progress-list {
	background: rgb(66, 66, 66) !important;
	-webkit-transform: none !important;
	transform: none !important;
	height: 6px !important;
}

.ytp-progress-bar-container {
	bottom: 30px !important;
}

/* ################################# */

/* SCRUBBER */

.ytp-swatch-background-color {
	background-color: #b91f1f !important;
}

.ytp-scrubber-container {
	top: 2px !important;
}

.ytp-scrubber-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/dev/img/scrubber.png);
	height: 16px !important;
	width: 16px !important;
	position: relative;
	top: 2px;
}

/* ################################# */

/* BUTTONS BASE */

.ytp-chrome-bottom {
	width: inherit !important;
	left: unset !important;
}

.ytp-chrome-controls {
	background: #1b1b1b;
	position: relative;
	height: 36px;
	top: 10px;
}

.ytp-button {
	bottom: 9px;
	height: 40px !important;
}

.ytp-button svg {
	display: none;
}

/* ################################# */

/* LEFT BUTTONS */

.ytp-left-controls {
	bottom: 4px;
	position: relative;
	padding-left: 10px;
	height: 100%;	
}

/* PREV BUTTON */

.ytp-prev-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/dev/img/icons.png) no-repeat;
	background-position: 8px 3px;
	background-size: 200px;
}

/* PLAY BUTTON */

.ytp-play-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/icons.png) no-repeat;
	background-position: -126px -443px;
	background-size: 200px;
}

.ytp-play-button[title="Pause (k)"] {
	background-position: -52px -1328px;
}

/* NEXT BUTTON */

.ytp-next-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/icons.png) no-repeat;
	background-position: 6px -1213px;
	background-size: 200px;
}

/* VOLUME BUTTON */

.ytp-mute-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/icons.png) no-repeat;
	background-position: -112px -151px;
	background-size: 200px;
}

.ytp-mute-button:hover {
	background-position: -154px -996px;
}

.ytp-mute-button[title="Unmute (m)"] {
	background-position: -154px -996px;
}

.ytp-mute-button[title="Unmute (m)"]:hover {
	background-position: -112px -151px;
}

/* DISPLAY NONE OF THESE */

.ytp-fullerscreen-edu-button {
	display: none !important;
}

.ytp-multicam-button {
	display: none !important;
}

.ytp-multicam-button {
	display: none !important;
}

.ytp-miniplayer-button {
	display: none !important;
}

.ytp-remote-button {
	display: none !important;
}

/* ################################# */

/* VOLUME SLIDER */

.ytp-volume-slider-handle {
	position: absolute !important;
	top: 50% !important;
	width: 5px !important;
	height: 14px !important;
	border-radius: 0px !important;
	margin-top: -5.9px !important;
	background: #ddd !important;
}

.ytp-volume-slider-handle::before {
	left: -64px !important;
	background: #b91f1f !important;
}

.ytp-big-mode .ytp-volume-slider-handle {
	position: absolute !important;
	top: 50% !important;
	width: 5px !important;
	height: 14px !important;
	border-radius: 0px !important;
	margin-top: -5.9px !important;
	background: #ddd !important;
}

/* ################################# */

/* RIGHT BUTTONS */

.ytp-right-controls {
	bottom: 4px;
	position: relative !important;
	padding-right: 10px;
}

/* SUBTITLES BUTTON */

.ytp-subtitles-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/icons.png) no-repeat;
	background-position: -109px -996px;
	bottom: 5px !important;
	background-size: 200px;
	position: relative;
}

.ytp-subtitles-button[title="Subtitles/closed captions unavailable"] {
	background-position: 5px -1327px;
}

/* SETTINGS BUTTON */

.ytp-settings-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/icons.png) no-repeat;
	background-position: -152px -519px;
	bottom: 5px !important;
	background-size: 200px;
	position: relative;
}

/* THEATER BUTTON */

.ytp-size-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/icons.png) no-repeat;
	background-position: -152px -482px;
	bottom: 5px !important;
	background-size: 200px;
	position: relative;
}

.ytp-size-button[title="Default view (t)"] {
	background-position: -37px 2px;
}

/* FULLSCREEN BUTTON */

.ytp-fullscreen-button {
	background: url(https://raw.githubusercontent.com/ktg5/YT-HTML5-Player/main/img/icons.png) no-repeat;
	background-position: -109px -519px;
	bottom: 5px !important;
	background-size: 200px;
	position: relative;
}

.ytp-fullscreen-button[title="Exit full screen (f)"] {
	background-position: -107px -1146px;
}

/* ################################# */

/* SETTINGS MENU */

.ytp-panel-menu {
	height: 97px;
	padding: 0px !important;
}

.ytp-menuitem-icon {
	display: none !important;
}

.ytp-menuitem-label {
	padding-left: 20px !important;
}